.header__content{
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
}

.header__content>span{
    flex: 2;
    align-items: flex-end;
    text-align: right;
}
.logo__header{
    flex: 2;
    text-align: left;
}


.header__content>span>a{
    margin-left: 10px;
    color: #436d4d;
}

.header__content>input{
    width: 60%;
    height: 35px;
    border-radius: 10px;
    padding: 12px;
    border: solid 1px #436d4d;
}