.content__introduce{
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 30px auto 60px auto;
    padding: 0;

}

.content>h1{
    padding: 0;
    margin: 50px 0 0 0;
    font-size: 30px;
}

.content__image{
    flex: 1;
    margin-right: 20px;
}

.content__image>img{
    width: 100%;
}

.content__introduce>p{
    flex: 3;
    text-align: justify;
    line-height: 25px;
}

.content__list_item{
    width: 60%;
    margin: 60px auto;
    display: flex;
    padding-bottom: 100px;
}

.content__new_product{
    background-color: #ccc;
}

.content__new_product>h1{
    padding-top: 50px;
}

.bg-white{
    background-color: aliceblue !important;
}