.admin-all{
    margin: 100px auto;
    border-radius: 20px;
    border: #ccc 2px solid;
    padding: 50px 50px;
    width: 30%;
    background-color: #436d4d;
}
.admin_page{
    width: 80%;
    background-color: #ccc;
    margin: 50px auto;
    padding: 20px 0;
    border-radius: 10px;
}

.admin_page:hover {
    background-color: azure;
}

.admin_page > a{
    width: 100%;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 25px;
    color: #436d4d;
    font-weight: 600;
}