.orderlist{
    width: 90%;
    margin: 50px auto;
    background-color: #ccc;
    border-radius: 10px;
}
.orderlist__title{
    width: 90%;
    display: flex;
    margin: 10px auto;
}

.orderlist__title > p{
    flex: 1;
    text-align: center;
    color: #436d4d;
    font-weight: 600;
    padding-bottom: 20px;
}

.orderlist__items{
    padding-bottom: 30px;
}

.order__item{
    display: flex;
    width: 90%;
    margin: 0 auto;
    border-top: #436d4d 1px solid;
}

.order__item:hover {
    background-color: white;
    transition: 0.5s;
}

.order__item > p {
    color: #436d4d;
    width: 95%;
    margin: 10px auto;
    text-align: center;
    flex: 1;
}
.order__item > img {
    padding: 10px;
    border-radius: 4px;
    flex: 1;
    margin-right: 10px;
}

.order__item > div {
    flex: 1;
}

.btn__orders {
    width: 80%;
    margin-top: 10px;
    height: 40px;
    border-radius: 8px;
}

.confirm {
    background-color: #436d4d;
    color: white;
    border: white 1px solid;
}

.reject {
    background-color: red;
    color: white;
    border: white 1px solid;
}